<section class="new-training" fxLayout fxLayoutAlign="center center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)">
    <mat-card fxFlex.xs>
      <mat-card-title fxLayoutAlign="center">Start New Training</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading && exercises">
          <mat-label>Select Exercise</mat-label>
          <mat-select ngModel required name="exercise">
            <mat-option
              *ngFor="let exercise of exercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading" fxLayoutAlign="center"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!isLoading" fxLayoutAlign="center">
        <button
          *ngIf="exercises"
          mat-button
          type="submit"
          [disabled]="f.invalid"
        >
          Start
        </button>
        <button
          *ngIf="!exercises"
          mat-button
          type="button"
          (click)="fetchExercises()"
        >
          Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
