<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    (ngSubmit)="onSubmit(f)"
    #f="ngForm"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        autocomplete="off"
        ngModel
        email
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        autocomplete="off"
        ngModel
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint>Password should be atleast 6 characters long</mat-hint>
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
    </mat-form-field>
    <br />
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
